
.banner{
	height: 200px;
	background-image: url(../img/tour-list-banner.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}
.banner p{
	font-size: 42px;
	color: white;
	line-height: 200px;
	text-align: left;
	margin-left: 80px;
	text-transform: capitalize;
	font-weight: bold;
}

.content{
	margin-top: 100px;
}
.content .left{
}
.content .left .plan{
	background-color: #f6f6f6;
	width: 100%;
	padding-bottom: 30px;
}
.content .left .plan .title{
	height: 50px;
	line-height: 50px;
	text-align: center;
	color: white;
	background-color: #3ecfd3;
	text-transform: uppercase;
	font-size: 18px;
	font-weight: bold;
}
.content .left .plan .item{
	margin-top: 20px;
}
.content .left .plan .item p{
	font-size: 16px;
	font-weight: bold;
}
.content .left .plan .item select{
	width: 100%;
	border-radius: 5px;
	height: 40px;
	line-height: 40px;
}
.content .left .plan .item input{
	width: 100%;
	border-radius: 5px;
	height: 40px;
	line-height: 40px;
	border: 1px solid black;
}
.content .left .plan .item select:hover{
	color: #3fced3;
	border-color: #3fced3;
}
.content .left .plan .item input:hover{
	color: #3fced3;
	border-color: #3fced3;
}
.content .left .plan .item input:focus{
	outline: none;
	color: #3fced3;
	border-color: #3fced3;
}
.content .left .plan .price{
	margin-top: 20px;
}
.content .left .plan .price input{
	width: 100%;
}
.content .left .plan .search{
	margin-top: 20px;
	height: 40px;
	width: 80%;
	margin-left: 10%;
	background-color: #ffc600;
	color: black;
	text-transform: uppercase;
	font-size: 16px;
	line-height: 40px;
	text-align: center;
	border-radius: 5px;
	user-select: none;
	cursor: pointer;
	border: none;
}
.content .left .plan .search:hover{
	color: white;
}
.content .left .type{
	width: 100%;
	background-color: #f6f6f6;
	margin-top: 20px;
	padding-bottom: 30px;
}
.content .left .type .title{
	height: 50px;
	line-height: 50px;
	text-align: center;
	color: white;
	background-color: #3ecfd3;
	text-transform: uppercase;
	font-size: 18px;
	font-weight: bold;
}
.content .left .type .starRating{
	margin-top: 20px;
}
/*CSS for checkbox*/
label{
	color: #3fced3;
	user-select: none;
	cursor: pointer;
}

input[type="checkbox"] label span{
	width: 30px;
	height: 30px;
	border: 1px solid red;
	background-color: yellow;
}


.content .left .type .rateItem{
	font-weight: bold;
	font-size: 16px;
	text-transform: capitalize;
}
.content .left .type .starRating li{
	list-style-type: none;
	color: #3ecfd3;
	font-size: 12px;
	height: 20px;
	display: flex;
	justify-content: left;
	margin-top: 10px;
	cursor: pointer;
}
.content .left .type .starRating li input{
	width: 20px;
	height: 20px;
	margin-right: 20px;
}
.content .left .type .starRating li input:hover{
	cursor: pointer;
	border-color: #3fced3;
}
.content .left .type .starRating li i{
	font-size: 12px;
	line-height: 20px;
	margin-right: 5px;
}
.content .left .type .duration{
	margin-top: 20px;
}
.content .left .type .duration li{
	list-style-type: none;
	font-size: 14px;
	height: 20px;
	display: flex;
	justify-content: left;
	margin-top: 10px;
}
.content .left .type .duration li:hover{
	cursor: pointer;
	color: #3fced3;
}
.content .left .type .duration li input{
	width: 20px;
	height: 20px;
	margin-right: 20px;
}
.content .left .type .duration li i{
	font-size: 12px;
	line-height: 20px;
	margin-right: 5px;
}
/**/
.content .left .type .activity{
	margin-top: 20px;
}
.content .left .type .activity li{
	list-style-type: none;
	font-size: 14px;
	height: 20px;
	display: flex;
	justify-content: left;
	margin-top: 10px;
}
.content .left .type .activity li:hover{
	cursor: pointer;
	color: #3fced3;
}
.content .left .type .activity li input{
	width: 20px;
	height: 20px;
	margin-right: 20px;
}
.content .left .type .activity li i{
	font-size: 12px;
	line-height: 20px;
	margin-right: 5px;
}
.content .type .more{
	font-size: 16px;
	color: #3fced3;
}

.content .right{
}
	{
	font-weight: bold;
	font-size: 18px;
	text-transform: capitalize;	
}
.content .right .result{
	font-weight: bold;
}
.content .right select{
	float: right;
	height: 40px;
	margin-left: 10px;
}
.content .right .type .sortBtn{
	width: 40px;
	height: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 5px;
	border: 1px solid #cccccc;
	font-size: 20px;
	margin-left: 10px;
	float: right;
}
.content .right .list{
	display: block;
}
.content .right .itemBox{
	margin-top: 40px;
	width: 100%;
	height: 270px;
}
.content .right .item{
	width: 100%;
	height: 270px;
	margin-top: 50px;
	border-radius: 5px;
	box-shadow: 0px 0px 30px 0px #cccccc;
	width: 100%;
	height: 100%;
}
.content .right .item .img{
	width: 35%;
	height: 100%;
	max-height: 270px;
	background-image: url(../img/trending-tour-img.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	float: left;
	border-radius: 5px 0 0 5px;
	position: relative;
}
.content .right .item .img .bdResTop{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 5%;
	background-color: white;
	border-radius: 5px 0 0 0;
	display: none;
}
.content .right .item .img .bdResBot{
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 5%;
	background-color: white;
	border-radius: 0 0 0 5px;
	display: none;
}
.content .right .item .detail{
	height: 100%;
	width: 65%;
	float: left;
	border-radius: 0 5px 5px 0;
	position: relative;
	z-index: 0;
	overflow: hidden;
	cursor: pointer;
}
.content .right .item .detail .title{
	text-align: left;
	margin-left: 5%;
	font-size: 18px;
	text-transform: uppercase;
	font-weight: bold;
	margin-top: 5%;
}
.content .right .item .detail .title a{
	text-decoration: none;
	color: black;
}
.content .right .item .detail .rating{
	text-align: left;
	margin-left: 5%;
	margin-top: -2%;
	font-size: 14px;
	color: #3fced3;
	font-size: 12px;
}
.content .right .item .detail .price{
	text-align: right;
	margin-right: 5%;
	font-size: 18px;
	color: #999999;
	font-weight: bold;
	margin-top: -10%;
}
.content .right .item .detail .price span{
	text-decoration: line-through;
}
.content .right .item .detail .time{
	margin-left: 5%;
	text-align: left;
	font-size: 16px;
	float: left;
	line-height: 30px;
}
.content .right .item .detail .discount{
	margin-right: 5%;
	text-align: center;
	float: right;
	color: #ffc600;
	font-size: 24px;
	font-weight: bold;
	line-height: 30px;
}
.content .right .item .detail .description{
	margin-left: 5%;
	width: 60%;
	font-size: 14px;
	overflow: hidden;
    text-overflow: ellipsis;
    line-height: 20px;
    line-clamp: 3;
    height: 80px;
    float: left;
    margin-top: 20px;
}
.content .right .item .detail .view{
	width: 18%;
	height: 40px;
	line-height: 40px;
	margin-right: 5%;
	float: right;
	border: 1px solid #3ecfd3;
	border-radius: 5px;
	text-transform: uppercase;
	cursor: pointer;
	text-align: center;
}
.content .right .item .detail .view a{
	text-decoration: none;
	line-height: 40px;
	color: #3ecfd3;
	font-size: 14px;
	margin-top: 20px;
	user-select: none;
}
.content .right .item .detail .view:hover{
	background-color: #ffc600;
	border: 1px solid #ffc600;
	transition: all 0.5s;
}
.content .right .item .detail .view:hover a{
	color: white;
	transition: all 0.5s;
}
.content .right .item .detail .sale{
	width: 80px;
	height: 80px;
	color: white;
	font-size: 14px;
	text-align: center;
	text-transform: uppercase;
	font-weight: bold;
	color: white;
	background-color: red;
	transform: rotate(45deg);
	position: absolute;
	top: -40px;
	right: -40px;
	z-index: 3;
	user-select: none;
}
.content .right .item .detail .sale .text{
	width: 100%;
	height: 100%;
	position: relative;
}
.content .right .item .detail .sale p{
	line-height: 14px;
	width: 100%;
	position: absolute;
	top: 60px;
	left: 0;
}
/*content right replace*/
.content .right .image{
	margin-top: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	display: none;
}
.content .right .image .itemBox{
	height: 500px;
	width: 100%;
	border-radius: 5px;
	cursor: pointer;
	overflow: hidden;
	position: relative;
	z-index: 0;
	box-shadow: 0px 0px 15px 0px #cccccc;
	margin-top: 30px;
}
.content .right .image .itemBox .sale{
	width: 80px;
	height: 80px;
	color: white;
	font-size: 14px;
	text-align: center;
	text-transform: uppercase;
	font-weight: bold;
	color: white;
	background-color: red;
	transform: rotate(45deg);
	position: absolute;
	top: -40px;
	right: -40px;
	z-index: 3;
}
.content .right .image .itemBox .sale .text{
	width: 100%;
	height: 100%;
	position: relative;
}
.content .right .image .itemBox .sale p{
	line-height: 14px;
	width: 100%;
	position: absolute;
	top: 60px;
	left: 0;
}
.content .right .image .itemBox .item{
	width: 100%;
	height: 70%;
	margin-top: 0px;
	border-radius: 5px 5px 0 0;
	overflow: hidden;
}
.content .right .image .itemBox .item .itemImg{
	width: 100%;
	height: 100%;
	border-radius: 5px 5px 0 0;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	transition: all 0.3s;
}
.content .right .image .itemBox:hover .itemImg{
	transform: scale(1.1);
}
.content .right .image .itemBox .info{
	width: 100%;
	height: 30%;
	border-radius: 0 0 5px 5px;
}
/**/
.content .right .image .itemBox .info .title{
	text-align: left;
	margin-left: 5%;
	font-size: 18px;
	text-transform: uppercase;
	font-weight: bold;
	margin-top: 5%;
}
.content .right .image .itemBox .info .title a{
	text-decoration: none;
	color: black;
}
.content .right .image .itemBox .info .rating{
	text-align: left;
	margin-left: 5%;
	margin-top: -2%;
	font-size: 14px;
	color: #3fced3;
}
.content .right .image .itemBox .info .price{
	text-align: right;
	margin-right: 5%;
	font-size: 20px;
	color: #999999;
	text-decoration: line-through;
	font-weight: bold;
	margin-top: -10%;
}
.content .right .image .itemBox .info .detail{
	margin-left: 5%;
	text-align: left;
	font-size: 16px;
	float: left;
	line-height: 30px;
}
.content .right .image .itemBox .info .discount{
	margin-right: 5%;
	text-align: right;
	color: #ffc600;
	font-size: 24px;
	font-weight: bold;
	line-height: 30px;
}
.content .right .image .notSale .sale{
	opacity: 0;
}
.content .right .image .notSale .price{
	opacity: 0;
}
/*content right replace*/

.content .right .tourPage{
	margin-top: 80px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.content .right .tourPage .pageBtn{
	width: 40px;
	height: 40px;
	border-radius: 5px;
	border: 1px solid #cccccc;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-left: 5px;
	margin-right: 5px;
	color: #aaa;
	cursor: pointer;
}
.content .right .tourPage .checked{
	border: 1px solid #3fced3;
	background-color: #3fced3;
	color: white;
}



/*RESPONSIVE*/
@media all and (max-width: 1200px){
	.header{
		display: none;
	}
	.resHeader{
		display: block;
	}
	.content .right .item .detail .view{
		height: 50px;
		line-height: 20px;
	}
	.content .right .item .detail .view a{
		line-height: 20px;
	}

}


@media all and (max-width: 992px){
	.content .right .type select{
		float: left;
		margin-right: 10px;
		margin-left: 0;
	}
	.content .right .type .sortBtn{
		float: left;
		margin-right: 10px;
		margin-left: 0;
	}	
	.footer .copyright{
		text-align: center;
	}
	.footer .footerContact{
		text-align: center;
	}
}


@media all and (max-width: 768px){
	.content .right .item .detail .view{
		width: 20%;
	}
	.content .right .item .detail .view a{
		font-size: 12px;
	}
	.content .right .item .img{
		border-top: inset 5px solid white;
		border-bottom: inset 5px solid white;
	}
	.content .right .result{
		margin-top: 30px;
	}
	.content .right .item .img .bdResTop{
		display: block;
	}
	.content .right .item .img .bdResBot{
		display: block;
	}
}


@media all and (max-width: 576px){
	.content .right .list{
		display: none;
	}
	.content .right .image{
		display: block;
	}
	.banner p{
		text-align: center;
		margin-left: 0px;
	}
}






