body{
	font-family: OpenSans;
}
.backToTop{
	width: 40px;
	height: 40px;
	font-size: 30px;
	display: flex;
	border-radius: 50%;
	justify-content: center;
	align-items: center;
	background-color: #ffc600;
	color: white;
	opacity: 0.7;
	position: fixed;
	bottom: -10%;
	right: 2%;
	z-index: 10;
	transition: all 0.5s
}
.backToTop:hover{
	opacity: 1;
	cursor: pointer;
}
.header{
	height: 120px;
}
.header *{
	/*border: 1px solid red;*/
}
.header .beginLogo{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 120px;
}

.menu{
	height: 120px;
}
.menu ul{
	width: 100%;
	height: 120px;
}

.menu  li{
	display: inline-block;
	list-style-type: none;
	margin-top: 0px;
	height: 120px;
	line-height: 120px;
	padding-right: 18px;
	padding-left: 18px;
}
.menu  li:last-child{
	padding-right: 0px;
}
.menu  li a{
	text-align: center;
	text-decoration: none;
	font-weight: bold;
	color: black;
	padding-bottom: 10px;
}
.menu  li:hover .itemType{
	color: #ffc600;
	border-bottom: 2px solid #ffc600;
}
/*animate*/
.menu .drop:hover .drop-menu{
    pointer-events: auto;
    filter: alpha(opacity=100);
    opacity: 1;
}
.menu .drop-menu{
	margin-top: 0px;
	line-height: 50px;
	width: 35%;
	justify-content: center;
	position: absolute;
	background-color: white;
	text-align: left;
	text-decoration: none;
	font-weight: bold;
	color: black;
	border-top: 3px solid #ffc600;
	box-shadow: 0px 0px 5px 0px #cccccc;
	z-index: 1;
	pointer-events: none;
    filter: alpha(opacity=0);
    opacity: 0;
    transition: all 0.5s;
}
.menu .drop-menu .item{
	border-top: 1px solid #cccccc;
}
.menu .drop-menu .item:hover{
	color: #ffc600;
	transition: 0.5s;
	cursor: pointer;
}
/*end animate*/


.contact{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 90px;
}
.contact .img{
	display: flex;
	justify-content: center;
	align-items: center;
}
.contact .title{
	margin-top: 25px;
	text-transform: capitalize;
	font-size: 18px;
}
.contact .phone{
	margin-top: -20px;
	font-size: 20px;
	color: #ffc600;
	font-weight: bold;
}

.resHeader{
	height: 120px;
	position: relative;
	display: none;
}
.resHeader .logo{
	height: 120px;
	/*border: 1px solid red;*/
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	left: 0px;
}
.resHeader .headerBtn{
	width: 80px;
	height: 120px;
	/*border: 1px solid yellow;*/
	align-items: center;
	position: absolute;
	right: 0px;
}
.resHeader .headerBtn .menuDecor{
	display: block;
  	width: 65%;
  	height: 10%;
  	margin-top: 5px;
  	background-color: #112b44;
  	border-radius: 50px;
  	-webkit-transition: all 0.6s ease-in-out;
  	transition: all 0.6s ease-in-out;
}



.footer{
	margin-top: 100px;
	background-color: #1a1a1a;
}
.footer .label{
	margin-top: 100px;
}
.footer .label .title p{
	color: white;
	font-size: 20px;
	font-weight: bold;
	text-transform: uppercase;
	text-align: center;
}
.footer .label .title .slice{
	border-bottom: 3px solid #3ecfd3;
	width: 20%;
	margin-left: 40%;
}
.footer .label .icon .img{
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 45px;
}
.footer .map{
	margin-top: 100px;
	width: 100%;
	/*border: 1px solid yellow;*/
}
.footer .map img{
	max-width: 100%;
}
.footer .map p{
	color: #3fced3;
	font-size: 14px;
	text-align: center;
	margin-top: 10px;
}
.footer .subscribe{
	margin-top: 100px;
}
.footer .subscribe .title{
	width: 100%;
	color: white;
	text-align: center;
	/*border: 1px solid red;*/
	text-transform: uppercase;
	font-size: 20px;
	font-weight: bold;
}
.footer .subscribe .slice{
	border-bottom: 3px solid #3ecfd3;
	width: 20%;
	margin-left: 40%;
}
.footer .subscribe input{
	width: 100%;
	padding-left: 10%;
	margin-top: 55px;
	background-color: transparent;
	border: 1px solid white;
	border-radius: 5px;
	height: 40px;
}
.footer .subscribe input:focus{
	outline: none;
}
.footer .subscribe .subBtn{
	width: 100%;
	margin-top: 10px;
	height: 40px;
	border-radius: 5px;
	background-color: #ffc600;
	color: black;
	text-transform: uppercase;
	font-size: 16px;
	font-weight: bold;
	line-height: 40px;
	text-align: center;
}
.footer .subscribe .subBtn:hover{
	color: white;
}
.footer .line{
	border-bottom: 1px solid #616666;
	margin-top: 60px;
}
.footer .copyright{
	color: #616666;
	font-size: 14px;
	margin-top: 20px;
}
.footer .footerContact{
	margin-top: 20px;
	color: #616666;
	font-size: 14px;
	text-transform: uppercase;
	text-align: right;
}
.footer .footerContact li{
	display: inline-block;
	list-style-type: none;
	margin-left: 10px;
}
.footer .footerContact li:hover{
	color: white;
	cursor: pointer;
}







